@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
body {
  background-color:#F2BAC9
}
p {
  text-align: center;font-size: 50px;font-family: 'Dancing Script';
}
p.nav{
  text-align: center;
} 
li.reg{ 
  font-size: 30px;
}
hh{
  font-size: 40px;
}
img {float: right; img size: 10px }
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
